{% extends '::frontend_cia.html.twig' %}

{% block title %}    
    {{ 'Mis cuentas de pago'|trans({},lenguaje) }} - {{ 'Listado'|trans({},lenguaje) }}    
{% endblock %}              

{% block comboidioma %}
  <li><a href="{{ path('comerciocta', { '_locale': 'es' }) }}">{{ 'Español'|trans({},lenguaje) }}</a></li>
  <li><a href="{{ path('comerciocta', { '_locale': 'en' }) }}">{{ 'Ingles'|trans({},lenguaje) }}</a></li>
  <li><a href="{{ path('comerciocta', { '_locale': 'pt' }) }}">{{ 'Portugués'|trans({},lenguaje) }}</a></li>
  <li><a href="{{ path('comerciocta', { '_locale': 'it' }) }}">{{ 'Italiano'|trans({},lenguaje) }}</a></li>  
{% endblock %}  

{% block jumbotron %}

{% endblock %}      

{% block activelugar %} {% endblock %}
{% block activepago %} in {% endblock %}
{% block activecuenta %} {% endblock %}
{% block activerepo %} {% endblock %}

{% block contenido %}
  
  <div class ="col-xs-12 col-sm-12 col-md-10 col-lg-8">
     {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-success">
          <span class="glyphicon glyphicon-ok"></span>{{ flashMessage }}
        </div>
      {% endfor %}

    <div class="panel panel-default">  
      <div class="panel-heading">
        <span class="glyphicon glyphicon-list-alt text-info"></span>
        {{ 'Mis cuentas de pago'|trans({},lenguaje) }} -  
        <a href="{{ path('comerciocta_new', { '_locale': lenguaje }) }}" class="btn btn-primary">
          <span class="glyphicon glyphicon-new-window"></span>Nuevo</a>        
      </div>
      <div class="panel-body">    
        
        <div class="table-responsive">
          <table class="table table-bordered">
           <thead>
              <tr class="active">                                 
                <th class="hidden-xs">#</th>               
                <th>{{ 'Mis cuentas de pago'|trans({},lenguaje) }}</th>
                {#
                <th class="visible-xs">{{ 'Mis cuentas de pago'|trans({},lenguaje) }}</th>
                <th class="hidden-xs">{{ 'Mis cuentas de pago'|trans({},lenguaje) }}</th>
                <th class="hidden-xs">{{ 'Banco'|trans({},lenguaje) }}</th>
                <th class="hidden-xs">{{ 'N° de Cta.'|trans({},lenguaje) }}</th>                
                #}
                <th></th>                
              </tr>
            </thead>   
            <tbody>
              {% for entity in entity_comerciocta %}
                <tr>                     
                  {#<td class="hidden-xs">{{ entity.id }}</td>  
                  <td class="hidden-xs">{{ entity.banco.descripcion | slice(0,10)}}</td>  
                  <td class="hidden-xs">{{ entity.numero }}</td>  
                  <td class="visible-xs">                    #}
                  <td class="hidden-xs">{{ entity.id }}</td>    
                  <td>  
                    <b>{{ 'Banco'|trans({},lenguaje) }}:</b> <br>{{ entity.banco.descripcion | slice(0,20) }}<br>
                    <b>{{ 'Tipo de Cta.'|trans({},lenguaje) }}:</b> <br>{{ entity.tipocta.nombre | slice(0,20) }}<br>
                    <b>{{ 'N° de Cta.'|trans({},lenguaje) }}:</b> <br>{{ entity.numero | slice(0,13) }}<br>
                    <b>{{ 'Moneda'|trans({},lenguaje) }}:</b> <br>{{ entity.moneda.descripcion }}                    
                  </td>

                  <td class="visible-lg">                    
                    <a href="{{ path('comerciocta_show', { 'id': entity.id }) }}" title="{{ 'Ver'|trans({},lenguaje) }}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span>
                      {{ 'Ver'|trans({},lenguaje) }}
                    </a> 
                    
                    <a href="{{ path('comerciocta_edit', { 'id': entity.id }) }}" title="{{ 'Editar'|trans({},lenguaje) }}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>
                      {{ 'Editar'|trans({},lenguaje) }}
                    </a>
                    
                    <a href="{{ path('comerciocta_show', { 'id': entity.id }) }}" title="{{ 'Editar'|trans({},lenguaje) }}" title="{{ 'Eliminar'|trans({},lenguaje) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>
                      {{ 'Eliminar'|trans({},lenguaje) }}
                    </a>
                  </td>

                  <td class="visible-sm visible-md">                    
                    <a href="{{ path('comerciocta_show', { 'id': entity.id }) }}" title="{{ 'Ver'|trans({},lenguaje) }}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span>
                    </a> 
                    
                    <a href="{{ path('comerciocta_edit', { 'id': entity.id }) }}" title="{{ 'Editar'|trans({},lenguaje) }}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>
                    </a>
                    
                    <a href="{{ path('comerciocta_show', { 'id': entity.id }) }}" title="{{ 'Editar'|trans({},lenguaje) }}" title="{{ 'Eliminar'|trans({},lenguaje) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>
                    </a>
                  </td>

                  <td class="visible-xs">
                    <p>
                    <a href="{{ path('comerciocta_show', { 'id': entity.id }) }}" title="{{ 'Detalle'|trans({},lenguaje) }}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span>
                    </a> 
                    </p>
                    <p>
                    <a href="{{ path('comerciocta_edit', { 'id': entity.id }) }}" title="{{ 'Editar'|trans({},lenguaje) }}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span></a>
                    </p>
                    <p>
                    <a href="{{ path('comerciocta_show', { 'id': entity.id }) }}" title="{{ 'Editar'|trans({},lenguaje) }}" title="{{ 'Eliminar'|trans({},lenguaje) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                    </p>
                  </td>
                  
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
        
{% endblock %}
