{% extends '::frontend_cia.html.twig' %}

{% block title %}
    {{ 'Horarios de atención'|trans({},lenguaje) }} - {{ 'Nuevo'|trans({},lenguaje) }}
{% endblock %}              

{% block comboidioma %}
  <li><a href="{{ path('comerciohor', { '_locale': 'es' }) }}">{{ 'Español'|trans({},lenguaje) }}</a></li>
  <li><a href="{{ path('comerciohor', { '_locale': 'en' }) }}">{{ 'Ingles'|trans({},lenguaje) }}</a></li>
  <li><a href="{{ path('comerciohor', { '_locale': 'pt' }) }}">{{ 'Portugués'|trans({},lenguaje) }}</a></li>
  <li><a href="{{ path('comerciohor', { '_locale': 'it' }) }}">{{ 'Italiano'|trans({},lenguaje) }}</a></li>  
{% endblock %}  

{% block jumbotron %}

{% endblock %}      

{% block javascripts %}
   
{% endblock %}

{% block activelugar %} in {% endblock %}
{% block activepago %} {% endblock %}
{% block activecuenta %} {% endblock %}
{% block activerepo %} {% endblock %}

{% block contenido %}
  
  <div class ="col-xs-12 col-sm-12 col-md-10 col-lg-8">
     {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-success">
          <span class="glyphicon glyphicon-ok"></span>{{ flashMessage }}
        </div>
      {% endfor %}

    <div class="panel panel-default">  
      <div class="panel-heading">
        <span class="glyphicon glyphicon-list-alt text-info"></span>
        {{ 'Horarios de atención'|trans({},lenguaje) }} / <span class="glyphicon glyphicon-pencil"></span>{{ 'Nuevo'|trans({},lenguaje) }}
      </div>

      <div class="panel-body">    
		<br>
       
        {{ form_start(form, {'attr': {'role': 'form'}}) }}
     
        {{ form_errors(form) }} 

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">              
          {% if form_errors(form.descripcion) == '' %}
          
          {% else %} 
            <div class="alert alert-danger">{{ form_errors(form.descripcion) }}</div>   
          {% endif %}          
          <label>{{ 'Descripción'|trans({},lenguaje) }}</label>    
          {{ form_widget(form.descripcion, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-10 col-lg-10">  
          <label>{{ 'Seleccione los días de atención'|trans({},lenguaje) }}</label>              
          <table>
            {% for dia in form.dias %}    
              <tr>
                <td>{{ form_widget(dia) }}</td>
                <td>{{ dia.vars.label }}</td>
              </tr>          
            {% endfor %}
          </table>
        </div>

        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">              
          {% if form_errors(form.apertura) == '' %}
          
          {% else %} 
            <div class="alert alert-danger">{{ form_errors(form.apertura) }}</div>   
          {% endif %}          
          <label>{{ 'Hora de apertura'|trans({},lenguaje) }}</label>    
          <br>
          {{ form_widget(form.apertura, {'attr': {'class': 'form-control'}}) }}          
        </div>        

        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">              
          {% if form_errors(form.cierre) == '' %}
          
          {% else %} 
            <div class="alert alert-danger">{{ form_errors(form.cierre) }}</div>   
          {% endif %}          
          <label>{{ 'Hora de cierre'|trans({},lenguaje) }}</label>    
          <br>
          {{ form_widget(form.cierre, {'attr': {'class': 'form-control'}}) }}          
        </div>

        <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">                              
            <a href="{{ path('comerciohor') }}" class="btn btn-primary btn-md btn-block" title="{{ 'Regresar'|trans({},lenguaje) }}"><span class="glyphicon glyphicon-th-list"></span>{{ 'Listado'|trans({},lenguaje) }}</a>
          </div>

        <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">                              
          <button type="submit" class="btn btn-success btn-md btn-block">
            <span class="glyphicon glyphicon-ok"></span> {{ 'Agregar'|trans({},lenguaje) }}
          </button>                    
        </div>        
        <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">                              
          <button type="reset" class="btn btn-danger btn-md btn-block"><span class="glyphicon glyphicon-refresh"></span>            
            {{ 'Cancelar'|trans({},lenguaje) }}</button>      
        </div>
      
        {{ form_end(form) }}                
      </div>
    </div>
  </div>
        
{% endblock %}


