{% extends '::frontend_cia.html.twig' %}

{% block title %}    
    {{ 'Mis Locales'|trans({},lenguaje) }} - {{ 'Detalle'|trans({},lenguaje) }}    
{% endblock %}              

{% block comboidioma %}
  <li><a href="{{ path('local_show', { 'id': entity_local.id, '_locale': 'es' }) }}">{{ 'Español'|trans({},lenguaje) }}</a></li>
  <li><a href="{{ path('local_show', { 'id': entity_local.id, '_locale': 'en' }) }}">{{ 'Ingles'|trans({},lenguaje) }}</a></li>
  <li><a href="{{ path('local_show', { 'id': entity_local.id, '_locale': 'pt' }) }}">{{ 'Portugués'|trans({},lenguaje) }}</a></li>
  <li><a href="{{ path('local_show', { 'id': entity_local.id, '_locale': 'it' }) }}">{{ 'Italiano'|trans({},lenguaje) }}</a></li>  
{% endblock %}  

{% block jumbotron %}

{% endblock %}      

{% block activelugar %} in {% endblock %}
{% block activepago %} {% endblock %}
{% block activecuenta %} {% endblock %}
{% block activerepo %} {% endblock %}

{% block contenido %}
  
  <div class ="col-xs-12 col-sm-12 col-md-10 col-lg-8">
     {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-success">
          <span class="glyphicon glyphicon-ok"></span>{{ flashMessage }}
        </div>
      {% endfor %}

    <div class="panel panel-default">  
      <div class="panel-heading">
        <span class="glyphicon glyphicon-list-alt text-info"></span> {{ 'Mis Locales'|trans({},lenguaje) }} - <span class="glyphicon glyphicon-eye-open"></span>{{ 'Detalle'|trans({},lenguaje) }}        
      </div>
      <div class="panel-body">    
      
        <form role="form">
          <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">              
            <label>{{ 'Nombre del local'|trans({},lenguaje) }}</label>
            <input type="text" class="form-control" value="{{ entity_local.descripcion }}" disabled>            
          </div>  

          <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">              
            <label>{{ 'Teléfono'|trans({},lenguaje) }}</label>
            <input type="text" class="form-control" value="{{ entity_local.telefono }}" disabled>                        
          </div>

          <div class="form-group col-xs-8 col-sm-8 col-md-8 col-lg-8">              
            <label>{{ 'Correo electrónico'|trans({},lenguaje) }}</label>
            <input type="text" class="form-control" value="{{ entity_local.email }}" disabled>                        
          </div>

          <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">              
            <label>{{ 'Vía'|trans({},lenguaje) }}</label>
            <input type="text" class="form-control" value="{{ entity_local.via.descripcion }}" disabled>            
          </div>  

          <div class="form-group col-xs-7 col-sm-7 col-md-7 col-lg-7">              
            <label>{{ 'Nombre de vía'|trans({},lenguaje) }}</label>
            <input type="text" class="form-control" value="{{ entity_local.nombrevia }}" disabled>                        
          </div> 

          <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2">              
            <label>{{ 'N°'|trans({},lenguaje) }}</label>
            <input type="text" class="form-control" value="{{ entity_local.numero }}" disabled>                        
          </div> 

          <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">              
            <label>{{ 'Interior'|trans({},lenguaje) }}</label>
            <input type="text" class="form-control" value="{{ entity_local.interior.descripcion }}" disabled>                        
          </div>

          <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2">              
            <label>{{ 'N°'|trans({},lenguaje) }}</label>
            <input type="text" class="form-control" value="{{ entity_local.numinterior }}" disabled>                        
          </div>

          <div class="form-group col-xs-7 col-sm-7 col-md-7 col-lg-7">              
            <label>{{ 'Referencia'|trans({},lenguaje) }}</label>
            <input type="text" class="form-control" value="{{ entity_local.referencia }}" disabled>                        
          </div>          

          <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">              
            <label>{{ 'Ciudad'|trans({},lenguaje) }}</label>
            <input type="text" class="form-control" value="{{ entity_local.ciudad.nombre }}" disabled>                        
          </div>

          <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">              
            <label>{{ 'Distrito'|trans({},lenguaje) }}</label>
            <input type="text" class="form-control" value="{{ entity_local.distrito.nombre }}" disabled>                        
          </div>

          <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">   
            <a href="{{ path('local') }}" class="btn btn-primary btn-md btn-block" title="{{ 'Regresar'|trans({},lenguaje) }}"><span class="glyphicon glyphicon-th-list"></span>{{ 'Listado'|trans({},lenguaje) }}</a>
          </div>

          <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">   
            <a href="{{ path('local_edit', { 'id': entity_local.id }) }}" class="btn btn-warning btn-md btn-block" title="{{ 'Editar'|trans({},lenguaje) }}"><span class="glyphicon glyphicon-edit"></span>{{ 'Editar'|trans({},lenguaje) }}</a>
          </div>

          <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">               
            <button class="btn btn-danger btn-md btn-block" data-toggle="modal" data-target="#myModal">
              <span class="glyphicon glyphicon-remove"></span>{{ 'Eliminar'|trans({},lenguaje) }}
            </button>              
          </div>

        </div>

      </div>
    </div>
  </div>
  
  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-list-alt text-info"></span> {{ 'Mis Locales'|trans({},lenguaje) }} - <span class="glyphicon glyphicon-remove"></span>{{ 'Eliminar'|trans({},lenguaje) }}</h4>
      </div>
      <div class="modal-body">
        <p><label>{{ 'Id'|trans({},lenguaje) }}:</label> {{ entity_local.id }}</p>
        <p><label>{{ 'Local'|trans({},lenguaje) }}:</label> {{ entity_local.descripcion }}</p>        
      </div>
      <div class="modal-footer">
        {{ form_start(delete_form) }}
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cerrar'|trans({},lenguaje) }}</button>     
        {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-danger'}}) }}
        {{ form_end(delete_form) }}              
      </div>
    </div>
  </div>
</div>

{% endblock %}
